#fil1 {
    display: 500px ;
    width:250px ;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);  
}

#fil2 {
    display: 500px ;
    width:250px ;
    -webkit-filter: grayscale(1);
    filter: brightness(2);  
}

#fil3 {
    display: 500px ;
    width:250px ;
    -webkit-filter: grayscale(1);
    filter: contrast(2);  
}
