#fil1:hover {
  width: 250px;
  position: relative;
  animation: myfirst 5s linear 2s infinite alternate;
}

@keyframes myfirst {
  0%   {left:0px; top:0px;}
  25%  { left:200px; top:0px;}
  50%  { left:200px; top:200px;}
  75%  { left:0px; top:200px;}
  100% { left:0px; top:0px;}
}

}

#fil2 :hover {
  width: 250px;
  position: relative;
  animation: myirst 5s linear 2s infinite alternate;
}

@keyframes myirst {
  0%   {left:0px; top:0px;}
  25%  { left:200px; top:0px;}
  50%  { left:200px; top:200px;}
  75%  { left:0px; top:200px;}
  100% { left:0px; top:0px;}
}


#fil3:hover {
  width: 250px;
  position: relative;
  animation: mfirst 5s linear 2s infinite alternate;
}

@keyframes mfirst {
  0%   {left:0px; top:0px;}
  25%  { left:200px; top:0px;}
  50%  { left:200px; top:200px;}
  75%  { left:0px; top:200px;}
  100% { left:0px; top:0px;}
}
